header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #mave {
    font-size: 65px;
    margin-left: 20%;
  }
  
  #bell {
    margin-left: -5%; /* Ajustar el margen derecho del botón bell */
    max-width: 10px;
    border-radius: 100%;
    background-color: transparent;
  }
  
  #go-out {
    margin-left: 5%;
    max-width: 10px;
    max-width: -10px;
    border-radius: 100%;
    background-color: transparent;
  }

#space {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .space-option {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra tanto el texto como la imagen verticalmente */
    text-align: center;
    width: 190px; /* Ancho fijo para todos los botones */
    height: 140px; /* Altura fija para todos los botones */
    padding: 10px;
    box-shadow: none;
    transition: box-shadow 0.3s ease;
  }
  
  .option-icon {
    width: 50px;
    height: 76px;
  }
  
  .space-option:hover,
  .space-option:focus{
    box-shadow: 0 0 50px #CE3375;
    background-color: #E881A6;
  }
  
  .space-option label {
    margin-top: 5px; /* Espacio entre la imagen y el texto */
  }