header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
#name{
  margin-top: 1%;
  margin-bottom: -3%;
  text-align: center;
}
  #space {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}
  
  .space-option {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra tanto el texto como la imagen verticalmente */
    text-align: center;
    width: 190px; /* Ancho fijo para todos los botones */
    height: 140px; /* Altura fija para todos los botones */
    padding: 10px;
    box-shadow: none;
    transition: box-shadow 0.3s ease;
  }
  
  .option-icon {
    width: 50px;
    height: 50%;
  }
  
  .space-option:hover,
  .space-option:focus{
    box-shadow: 0 0 50px #CE3375;
    background-color: #E881A6;
  }
  
  .space-option label {
    margin-top: 5px; /* Espacio entre la imagen y el texto */
  }
.rp-cont {
  background: #60C8B3;
  border-radius: 30px;
  box-shadow: 0 5px 15px #c9d6ff;
  position: relative;
  overflow: hidden;
  width: 900px;
  max-width: 100%;
  min-height: 520px;
  font-family: "Lilita One", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #1B5091;
}
  