@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
    width: 100%;
    height: auto;
    background: linear-gradient(to right, #60C8B3, #1B5091);
}

body {
    
    margin: 0;
    font-family: "Lilita One", sans-serif;
}

