@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  background-color: #272020;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.rp-cont {
  background: #60C8B3;
  border-radius: 30px;
  box-shadow: 0 5px 15px #c9d6ff;
  position: relative;
  overflow: hidden;
  width: 900px;
  max-width: 100%;
  min-height: 520px;
  font-family: "Lilita One", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #1B5091;
}

header {
  display: flex;
  align-items: center;
  /* Alinea los elementos verticalmente */
  font-weight: bold;
  unicode-bidi: isolate;
}

.logo {
  width: 55px;
  height: auto;
}

.mave {
  margin-left: 10px;
  /* Espacio entre el logo y el texto "MAVE" */
  font-size: 1.1rem;
  /* Tamaño de fuente ajustable según sea necesario */
}

h1 {
  margin-bottom: 10px;
  /* Reducir el margen inferior del h1 */
}

h2 {
  margin-top: 0;
  /* Establecer el margen superior del h2 a 0 para reducir el espacio */
  align-items: center;
}

h3 {
  margin-top: 0;
  /* Establecer el margen superior del h2 a 0 para reducir el espacio */
  align-items: left;
}

#confirmar {
  margin-top: 20px;
}

.radio-input input {
  display: none;
}

.radio-input {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background: #60C8B3;
  color: #1B5091;
  border-radius: 10px;
  box-shadow: 0px 100px 500px 10px #1B5091;
  width: 420px;
}

.info {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question {
  color: #1B5091;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 800;
}

.steps {
  padding: 4px;
  color: #1B5091;
  border-radius: 4px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
}

.radio-input label {
  display: flex;
  background-color: #fff;
  padding: 14px;
  margin: 8px 0 0 0;
  font-size: 13px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgba(187, 187, 187, 0.164);
  color: #1B5091;
  transition: 0.3s ease;
}

.radio-input input:checked+label {
  border-color: #CE3375;
  color: #f7f7f7;
  background-color: rgba(60, 58, 212, 0.26);

}

.botones {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
}

.boton-quest {
  cursor: pointer;
  border: 1px solid rgba(187, 187, 187, 0.164);
  font-size: 10px important;
  width: 48%;
}

.boton-quest:hover {
  background-color: rgb(9, 9, 71);
  border: 1px solid #1B5091;
  transition: 0.3s ease;
}