@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
:root{
    background-color: #272020;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{/*Degradado de fondo*/
    font-family: "Lilita One", sans-serif;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #60C8B3, #1B5091);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
/*linea de la mitad*/
.container{
    /*Luz de fondo*/
    background: #60C8B3;
    border-radius: 30px;
    box-shadow: 0 5px 15px #c9d6ff;
    position: relative;
    overflow: hidden;
    width: 900px;
    max-width: 100%;
    min-height: 520px;
    font-family: "Lilita One", sans-serif;
}

.container p{
    /*Texto abajo del logo registrarse*/
    color: #FFFF;
    font-size: 25px;
    margin: 10px 0;
    font-family: "Lilita One", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 30px;
    text-shadow: 0 0 5px black;
}
.acronym {
    /*Texto abajo del logo ingresar*/
    font-size: 20px;
    line-height: 20px;
    font-family: "Lilita One", sans-serif;
    color: #CE3375;
    &:not(br) {
        font-size: 25px; /* Tamaño de fuente para letras en mayúscula */
        color: #FFFF; /* Color de texto para letras en mayúscula */
        letter-spacing: 1px;
        line-height: 30px;
        margin: 10px 0;
        text-shadow: 0 0 3px black;
    }
}

.container span{
    font-size: 20px;
    font-family: 'Lilita One', Times, serif;
}

.container a{
    color: #FFFF;
    font-size: 17px;
    text-decoration: none;
    margin: 15px 0 10px;
    font-family: 'Lilita One', Times, serif;
    text-shadow: 0 0 5px black;
}

.container button{
    /*Boton de ingresar*/
    background-color: rgb(30, 105, 196);
    color: #fff;
    font-size: 20px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Lilita One', Times, serif;
}

.container button.hidden{
    background-color: transparent;
    border-color: #ffffff;

}
/*Fondo*/
.container form{
    background-color: #60C8B3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
    width: auto;
    color: #1B5091;
}

.resetPass:hover {
    color: #1B5091;
    text-shadow: none;
}

.container input{
    /*Cajas de texto*/
    background-color: #FFFF;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    font-family: 'Lilita One', Times, serif;
}

.form-container{
    position: absolute;
    top: 0;
    background: red;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 50%;
    width: 50%;
    z-index: 2;
}


.sign-up{
    left: 50%;
    width: 50%;
    opacity: 0;
    z-index: 1;
}



@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #050c9f;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    /* Título de bienvenida */
    background-color: rgb(30, 105, 196);
    height: 100%;
    background: linear-gradient(to right, #6EA1D4, #60C8B3);
    /* Color de texto de bienvenida */
    color: #ffffff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 3px 0 #000; /* Contorno del texto */
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra suave al elemento */
}


.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}

.logo {
    width: 120px;
    height: 120px;
}