@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    background-color: #272020;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.rp-cont {
    background: #60C8B3;
    border-radius: 30px;
    box-shadow: 0 5px 15px #c9d6ff;
    position: relative;
    overflow: hidden;
    width: 110vh;
    max-width: 100%;
    min-height: 70vh;
    font-family: "Lilita One", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-evenly;
    color: #1B5091;
}

#h1-seguimiento {
    margin-top: 5%;
}

h2 {
    align-items: center;
    margin-bottom: 7%;
}

h3 {
    margin-top: 0; /* Establecer el margen superior del h2 a 0 para reducir el espacio */
    align-items: left;
}

button{
  margin-top: 10%;
}

p{
  text-align: center;
  margin-top: -30px;
}



  
  .radio-tile-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .radio-tile-group .input-container {
    position: relative;
    height: 80px;
    width: 80px;
    margin: 0.5rem;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: -20px;
  }
  
  .radio-tile-group .input-container .radio-button {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
  }
  
  .radio-tile-group .input-container .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
    border: 2px solid #1B5091;
    border-radius: 5px;
    padding: 1rem;
    transition: transform 300ms ease;
    margin-top: 20%;
  }
  
  .radio-tile-group .input-container .icon svg {
    fill: #1B5091;
    width: 2rem;
    height: 2rem;
  }
  
  .radio-tile-group .input-container .radio-tile-label {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #1B5091;
  }
  
  .radio-tile-group .input-container .radio-button:checked + .radio-tile {
    background-color: #1B5091;
    border: 5px solid #1B5091;
    color: white;
    transform: scale(1.1, 1.1);
  }
  
  .radio-tile-group .input-container .radio-button:checked + .radio-tile .icon svg {
    fill:white;
    background-color: #1B5091;
  }
  
  .radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-tile-label {
    color: white;
    background-color: #1B5091;
  } 