@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    background-color: #272020;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.rp-cont {
    background: #60C8B3;
    border-radius: 30px;
    box-shadow: 0 5px 15px #c9d6ff;
    position: relative;
    overflow: hidden;
    width: 900px;
    max-width: 100%;
    min-height: 520px;
    font-family: "Lilita One", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-evenly; 
}

    .rp-cont h1 {
        font-size: 40px; 
    }

    .rp-cont span {
        font-size: 25px; 
    }

    .rp-cont form {
        background-color: #60C8B3;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        height: 100%;
        color: #1B5091;
        width: 100%; 
    }

    .rp-cont input {
        background-color: #FFFF;
        border: none;
        margin: 20px 0; 
        padding: 15px 20px; 
        font-size: 20px; 
        border-radius: 8px;
        width: 50%;
        outline: none;
        font-family: 'Lilita One', Times, serif;
    }

    .rp-cont button {
        background-color: rgb(30, 105, 196);
        color: #fff;
        font-size: 25px;
        padding: 15px 40px; 
        border: 1px solid transparent;
        border-radius: 8px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        cursor: pointer;
        font-family: 'Lilita One', Times, serif;
    }
    .rp-cont a {
        color: #FFFF;
        font-size: 17px;
        text-decoration: none;
        margin: 15px 0 10px;
        font-family: 'Lilita One', Times, serif;
        text-shadow: 0 0 5px black;
    }
