#print-logo {
    margin-left: 39%;
}

#print-h1 {
    margin-right: 50%;
}

#print-vis header {
    margin-top: 40%;
}

#description {
    margin-bottom: 20px;
    display: flex;
    margin-right: 30px;
}

#description h2 {
    margin: 5px 0;
    margin-left: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

#table-title {
    background-color: #ddd;
    color: black;
}

#table-title th {
    padding: 10px;
    border: 2px solid #ddd;

}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
}

th:first-child,
td:first-child {
    border-left: 1px solid #ddd;
}

th:last-child,
td:last-child {
    border-right: 1px solid #ddd;
}

.table1 {
    max-height: 500px;
    overflow-y: auto;
    margin-bottom: 7%;
}
.button {
    background-color: rgb(30, 105, 196);
    color: #fff;
    font-size: 20px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Lilita One', Times, serif;
}