
.scrollable {
  max-height: 250px; /* Altura máxima para el contenedor */
  overflow-y: auto; /* Habilitar el scroll vertical cuando el contenido excede la altura máxima */
  margin-bottom: 7%;
}

.cat-article:last-child {
  border-bottom: none; /* Eliminar el borde inferior del último artículo */
}

#aricle-mar {
  background-color: white;
  border-radius: 10px;
}

#article-m{
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
}
#texts-uno{
  align-items: center;
}

#btn-texts-uno{
  font-size: 15px;
  margin-top: 20px;
  width: 98%;
}

#titulo-variosm{
  margin-bottom: 1%;
}